<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <br>
            <p class="Dashboard">My Appraisal Dashboard</p>
        </div>
        <div class="col-lg-2">
            <br>
            <p class="count">Count:</p>
        </div>
    </div>
   <div class="card">
       <br>
    <div class="row FilterClass ">
        <div class="col-lg-1">
            <p class="filter">Filter By</p>
        </div>
        <div class="col-lg-3">
                <input type="search" class="form-control search"  placeholder="Search for Name..">
        </div>
        <div class="col-lg-1"></div>
    </div><br>
</div> <br>
    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            <button class="edit" routerLink="/MyAppraisalForm">Add</button>
        </div>
    </div> <br>
  <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                    <table>
                    <thead>
                        <tr>
                           <th>KRA Name</th>
                           <th>KPI Name</th>
                           <th>Rating</th>
                           <th>Description</th>
                           <th>Attachment</th>
                           <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>    
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>