
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <br>
            <p class="Dashboard">Performance Indicator Dashboard</p>
        </div>
        <div class="col-lg-2">
            <br>
            <p class="count">Count : {{count}} </p>
        </div>
    </div>
   <div class="card">
       <br>
    <div class="row FilterClass ">
        <div class="col-lg-1">
            <p class="filter">Filter By</p>
        </div>
        <div class="col-lg-3">
                <input type="search" class="form-control search" [(ngModel)]="search"  placeholder="Search for Name..">
        </div>
       <div class="col-lg-3">
        <select class="form-control columnname" [(ngModel)]="kraid" name="kraid" (change)="getkraid($event)">
            <option value="0">Select KraResult</option>
            <option *ngFor="let details of kratypelist"  value="{{details.kraName}}">{{details.kraName}}</option>
       
        </select>
        </div>
    </div><br>
</div> <br>
    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            <button class="edit" routerLink="/KeyPerformanceIndicatorform">Add</button>
        </div>
    </div> <br>
  <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                    <table>
                    <thead>
                        <tr>
                            <th>KRA Name</th>
                            <th>KPI Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>    
                        <tr *ngFor="let details of indicatorlist |filter:search">
                            <td>{{details.kraName}}</td>                        
                            <td>{{details.kpiName}}</td>
                            <td>{{details.description}}</td>
                            <td>
                                <button class="form-control edit" [routerLink]="['/KeyPerformanceIndicatorform', details.id]" >Edit</button>
                                <button class="form-control edit" (click)="delete(details.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>