    
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <br>
            <p class="Dashboard">Appraisal Cycle </p>
        </div>
        <div class="col-lg-2">
            <br>
            <p class="count">Count : {{count}}</p>
        </div>
    </div>
   <div class="card">
       <br>
    <div class="row FilterClass ">
        <div class="col-lg-1">
            <p class="filter">Filter By</p>
        </div>
        <div class="col-lg-3">
                <input type="search" class="form-control search" [(ngModel)]="search"  placeholder="Search for Name..">
        </div>
        <div class="col-lg-1"></div>
    </div><br>
</div> <br>
    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            <button class="edit" routerLink="/AppraisalCycleform">Add</button>
        </div>
    </div> <br>
  <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                    <table>
                    <thead>
                        <tr>
                            <th>Appraisal Cycle Name</th>
                            <th>Frequency Type</th>
                            <th>Cycle Start Date</th>
                            <th>Cycle End Date</th>
                            <th>Goal Setting Date</th>
                            <th>Employee Submission Date</th>
                            <th>Manager Review LastDate</th>
                            <th>Hr Review LastDate</th>
                            <th>Appraisal Closing LastDate</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>    
                        <tr *ngFor="let details of appraisallist | filter:search">
                            <td>{{details.appraisalCycleName}}</td>
                            <td>{{details.frequencyName}}</td>
                            <td>{{details.cycleStartDate}}</td>
                            <td>{{details.cycleEndDate}}</td>
                            <td>{{details.goalSettingDate}}</td>
                            <td>{{details.employeeSubmissionDate}}</td>
                            <td>{{details.managerReviewLastDate}}</td>
                            <td>{{details.hrReviewLastDate}}</td>
                            <td>{{details.appraisalClosingLastDate}}</td>
                            <td>
                                <br>
                                <button class="form-control Add"  [routerLink]="['/AppraisalCycleform', details.id]">Edit</button><br>
                                <button class=" form-control  Add"  (click)="delete(details.id)" >Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>






