<div class="row" *ngIf="temp=='1'">
    <div class="col-md-2 sidenav  sidebar">
        <!-- <a (click)="SETUP()" *ngIf="roleid=='1'" data-toggle="collapse" class="togglebtn"
            data-target="#userapplications">

            <img src="assets/images/64/ATTENDANCE/Report/masters/Employee Transition.png"
                [ngClass]="active != 'SETUP' ? 'Active1' : 'Active2'" class="image" />
            <img src="assets/images/64 Blue/ATTENDANCE/Report/masters/Employee Transition.png"
                [ngClass]="active == 'SETUP' ? 'Active1' : 'Active2'" class="image" />

            &nbsp;
            <span [ngClass]="active == 'SETUP' ? 'Active1' : 'Active3'"> SETUP</span>

        </a> -->
        <a *ngIf="roleid=='1'" routerLink="#/Dashboard">Setup</a>
    </div>
</div>