.image{
  margin-top: 10px;
}
.main{
  background-color: #F3F8FF;
}
.sidebar{
  height: 90vh;
  overflow-y: scroll;
}
.sidenav{

  left: 0%;
  right: 86.04%;
  top: 8.6%;
  bottom: -2.35%;
  background: #FFFFFF;
  /* ContainerWhite_DropShadow */  
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
}
.text{
  margin-top: 20px;
}
.logout{
  margin-top:18px; 
  border-radius: 5px;
  width:34px;
}

.sidebarcss{
  padding: 15px;
  Width :100px;
  Height: 50px;
}

