<div class="container-fluid"  style="background: #3247D5;height: 10vh;" *ngIf="temp=='1'">
  <div class="row">
      <div class="col-lg-2">       
          <img class="image"  class="logo" src="../assets/Images/Logo_digiOffice_White.png">
      </div>
   
      <div class="col-lg-2" style="display: flex;align-items: center;
      flex-wrap: nowrap;justify-content: start;">
    <div class="time">
    <p class="time1">{{hh}} </p> 
    </div>     
    <div class="time">
    <p class="time1">{{mm}}</p>
     </div>
 <div class="time">
    <p class="time1">{{ampm}}</p> 
   </div>
   </div>
      <div class="col-lg-5"></div>
              <div class="col-lg-1">
          <img (click)="logout()" class="logout" src="assets/Images/Logo_out.1.png" >
      </div>
      <div class="col-lg-2">
          <p style="color:white;font-size:16px;margin-top:25px;">Hii {{userName}}</p>
      </div>
  </div>
</div>
<div class="container-fluid" *ngIf="temp=='1'" >
  <div class="row">
      <div class="col-lg-2 sidenav" style="overflow-y: scroll;height: 90vh;" >
        <br>
        <app-sidebar></app-sidebar>
        <!-- <a data-toggle="collapse" class="togglebtn sidebarcss" data-target="#userapplications" *ngIf="roleid==1"
        class="tablinks" >
         Performance Management
    </a>
    <div id="userapplications" class="collapse">
        <a routerLink="/AppraisalCycle" class="tablinks sidebarcss"  (click)="highlight($event)" >
           Appraisal Cycle
        </a> <br>
        <a routerLink="/KeyResultArea" class="tablinks sidebarcss" (click)="highlight($event)" (click)="kRA()">
           KRA'S
        </a><br>
        <a routerLink="/KeyPerformanceIndicator" class="tablinks sidebarcss" (click)="highlight($event)" (click)="kPI()">
            KPI
        </a><br>
    </div>
  
      <a data-toggle="collapse" class="togglebtn button" data-target="#userapplications1" *ngIf="roleid==2"
        class="tablinks" (click)="highlight($event)">
         Performance Management
    </a>
    <div id="userapplications1" class="collapse">
        <a routerLink="/KeyResultArea" class="tablinks" (click)="highlight($event)" (click)="keyResultArea()">
            MY  KRA
        </a> <br>
        <a routerLink="/KeyPerformanceIndicator" class="tablinks" (click)="highlight($event)" (click)="keyPerformanceIndicator()">
            MY KPI
        </a><br>
        <a routerLink="/MyAppraisal" class="tablinks" (click)="highlight($event)" (click)="myAppraisal()">
         My Appraisal
        </a><br>
    </div>
       -->
      </div>
      <br>
      <div class="col-lg-10 " >
          <router-outlet></router-outlet>
      </div>
  </div> 
</div>
<div class="container-fluid" *ngIf="temp!='1'">
  <div class="row">
      <div class="col-lg-12" style=" background-color: #F3F8FF;" >
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
