<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-lg-4">
            <p class="headings">Employee Details </p>
        </div>
    </div>
    <div class="card">
        <br>
        <div class="row column">
            <div class="col-lg-3">
                <p>Employee Name </p>
            </div>
            <div class="col-lg-3">
                <p>Department Name</p>
            </div>
            <div class="col-lg-3">
                <p>Manager Name</p>
            </div>
            <div class="col-lg-3">
                <p>KRA</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <select class="form-control">
                    <option value="0">Select Employee Name</option>
                    <option value="1">1</option>
                    <option value="1">1</option>
                </select>
            </div>

            <div class="col-lg-3">
                <select class="form-control">
                    <option value="0">Select  Department Name</option>
                    <option value="1">1</option>
                </select>
            </div>

            <div class="col-lg-3">
                <select class="form-control ">
                    <option value="0">Select  Manager Name</option>
                    <option value="1">1</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="col-lg-3">
                <select class="form-control ">
                    <option value="0">Select KRA</option>
                    <option value="1">1</option>
                    <option value="1">1</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <p>KPI</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <select class="form-control">
                    <option value="0">Select KPI</option>
                    <option value="1">1</option>
                    <option value="1">1</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-1">
                <button class="cancel">Save</button>
            </div><br>
            <div class="col-lg-1">
                <button class="cancel">Cancel</button>
            </div>
        </div>
    </div>
