<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11">
            <br>
            <p class="headings">Staff Score </p>
        </div>
        <div class="col-lg-1">
            <br>
            <p class="count">Count:{{StaffScoresLists.length}}</p>
        </div>
    </div>
    <br>
    <div class="card">
        <br>
        <div class="row FilterClass ">
            <div class="col-lg-1">
                <p class="filter">Filter By</p>
            </div>
            <div class="col-lg-5">
                <input type="search" class="form-control search" placeholder="Search for Name.." [(ngModel)]="search">
            </div>
            <div class="col-lg-3">
                <select class="form-control" id="goal" name="goal" [(ngModel)]="goal" (ngModelChange)="Filtergoals()">
                <option value="0">Select Goal</option>
                <option *ngFor="let details of goallist" value="{{details.kraName}}">{{details.kraName}}
                </option>
            </select>
            </div>
            <div class="col-lg-1"></div>
        </div><br>
    </div> <br>
    <!-- <div class="card">
        <div class="row">
            <div class="col-lg-12">
                <p class="avg">Average</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <p class="col-lg-3 text1">Self Assessment Avg : {{overallScore}}</p>
            <div class="col-lg-9">
            </div>
        </div>
        <div class="row">
            <p class="col-lg-3 text1" *ngIf="groupHeadAvgScores!=null">Manager Avg : {{groupHeadAvgScores}}</p>
            <div class="col-lg-9">
            </div>
        </div>
        <div class="row">
            <p class="col-lg-3 text1" *ngIf="cioAvgScores!=null">HR Avg : {{cioAvgScores}}</p>
            <div class="col-lg-9">
            </div>
        </div>
        <div class="row">
            <p class="col-lg-3 text1" *ngIf="cioAvgScores!=null">Total Avg : {{(groupHeadAvgScores+cioAvgScores)/2}}</p>
            <div class="col-lg-9">
            </div>
        </div>
    </div> -->




    <div class="row">
        <div class="col-lg-9">
        </div>
        <p class="col-lg-3">Self Assessment Avg : {{overallScore}}</p>

    </div>
    <div class="row">
        <div class="col-lg-9">
        </div>
        <p class="col-lg-3" *ngIf="groupHeadAvgScores!=null">Manager Avg : {{groupHeadAvgScores}}</p>
    </div>

    <div class="row">
        <div class="col-lg-9">
        </div>
        <p class="col-lg-3" *ngIf="cioAvgScores!=null">HR Avg : {{cioAvgScores}}</p>
    </div>

    <div class="row">
        <div class="col-lg-9">
        </div>
        <p class="col-lg-3" *ngIf="cioAvgScores!=null">Total Avg : {{(groupHeadAvgScores+cioAvgScores)/2}}</p>
    </div>
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-lg-12">
                <p class="Appraisal">Employee Appraisal Details </p>
            </div>
        </div>
        <hr> -->
        <div class="row">
            <div class="col-lg-6">
                <p style="margin-left: 14px;">Staff ID: {{StaffID}} </p>
            </div>
            <!-- <div class="col-lg-3">
            <p>Staff Type:{{StaffType}} </p>
          </div> -->
            <div class="col-lg-3">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p style="margin-left: 14px;">Staff Name: {{EmployeeName}} </p>
            </div>
            <div class="col-lg-3">
                <p>Employee Submission Date: {{EmployeeSubmittedDate|date}}</p>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p style="margin-left: 14px;">Appraisal Cycle Start Date: {{StartDate|date}} </p>
            </div>
            <div class="col-lg-4">
                <p>Appraisal Cycle End Date: {{EndDate|date}} </p>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p style="margin-left: 14px;">Department:{{DepartmentName}}</p>
            </div>
            <div class="col-lg-3">
                <p>Role: {{Role}}</p>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p style="margin-left: 14px;">HR Submission Date: {{HrSubmittedDate|date}}</p>
            </div>
            <p style="margin-left: 14px;">Manager Submission Date: {{ManagerSubmittedDate|date}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Goal Name </th>
                        <th>Performance Indicator</th>
                        <th>Staff Score</th>
                        <th>Staff Comments</th>
                        <th>Manager Score</th>
                        <th>Manager Comments</th>
                        <th>HR Score</th>
                        <th>HR Comments</th>
                    </tr>
                    <tr
                        *ngFor="let Scores of StaffScoresLists|paginate: { itemsPerPage: count1, currentPage: p}|filter:search">
                        <td>{{Scores.resultAreaName}}</td>
                        <td>{{Scores.performanceindicator}}</td>
                        <td>{{Scores.selfScores}}</td>
                        <!-- <td>{{Scores.selfComments}}</td> -->
                        <td>
                            <button class="edit" (click)="viewself(Scores)" data-toggle="modal"
                                data-target="#exampleModal">View</button>
                        </td>
                        <td *ngIf="Scores.groupHeadScores!=null">{{Scores.groupHeadScores}}</td>
                        <td>
                            <button *ngIf="Scores.groupHeadScores!=null" class="edit" (click)="manager(Scores)"
                                data-toggle="modal" data-target="#exampleModal1">View</button>
                        </td>
                        <!-- <td *ngIf="Scores.groupHeadScores!=null">{{Scores.groupHeadComments}}</td> -->
                        <td *ngIf="Scores.cscores!=null">{{Scores.cscores}}</td>
                        <td>
                            <button *ngIf="Scores.cscores!=null" class="edit" (click)="hrcomments(Scores)"
                                data-toggle="modal" data-target="#exampleModal2">View</button>
                        </td>
                        <!-- <td *ngIf="Scores.cscores!=null">{{Scores.cioComments}}</td> -->
                        <td *ngIf="Scores.divisionScores!=null">{{Scores.divisionScores}}</td>
                        <td *ngIf="Scores.divisionScores!=null">{{Scores.divisionComments}}</td>
                    </tr>
                </thead>
            </table>
            <div class="text-right">
                <br>
                <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scroll">
                <div class="col-lg-12">
                    <p [innerHTML]=selfcomment></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Manager Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scroll">
                <div class="col-lg-12">
                    <p [innerHTML]= managercomments></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">HR Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scroll">
                <div class="col-lg-12">
                    <p [innerHTML]= hrcomment></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>